html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/** Pokemon search */
.pokemon-search > div {
  float: left;
  width: clamp(100px, 600px, 50%);
}
